.header {
    background-color: var(--color1);
    width: 100%;
    padding: 1rem .25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

#title {
    color: var(--alt1);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.25rem;
}

#subtitle {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--light);
    font-size: 1rem;
}