.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.drop {
    width: 25dvw;
    height: 25dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .25rem solid var(--light);
    background-color: var(--color1);
    transition: all 300ms ease-in-out;
    color: var(--light);

}

.icon {
    width: 4rem;
    height: 4rem;
}

.active {
    border-color: var(--alt2);
    color: var(--alt2);
    transition: all 300ms ease-in-out;
}

.drop input {
    display: none;
}

.button {
    width: 65%;
    padding: 0.3rem;
    font-family: 'Onest Variable', sans-serif;
}

/* estilar error */
.error {
    color: red;
}


@media (orientation: portrait) and (max-width: 1280px) {
    .drop {
        width: 60dvw;
        height: 60dvw;
    }
}