.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    gap: 1rem;
    background-color: var(--color1);
    width: fit-content;
    position: fixed;
    bottom: 25dvw;
    left: 5dvw;
    transform-origin: center;
    transform: translateX(-50%);
    padding: 1rem .5rem;
    border-radius: 2rem;
    box-shadow: 0 0 .25rem 0 var(--color3);
}