:root {
  --color1: rgb(4, 32, 48);
  --color2: rgb(80, 196, 240);
  --color3: rgb(96, 152, 248);
  --light: rgb(252, 248, 232);
  --alt1: rgb(252, 120, 32);
  --alt2: rgb(252, 160, 48);
}

body {
  font-family: 'Onest Variable', sans-serif;
  background-color: var(--color2);
}

main {
  min-height: calc(100dvh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}